<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    	<!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
          <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <style> 
     footer{
        margin:0 auto;
        text-align:center; 
        position:static; 
        bottom:0px;
        left:38%;
        margin-top: 10px;
        margin-bottom:5px;
        font-size:25px;
    }

    
   
    #container{
        
    }
</style>
</head>
<body>
<div id="container">
    <header>

		<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tasks</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Main page</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>
        
	</header>

    <table class="responsive-table">
        <thead>
          <tr>
              <th>Id</th>
              <th>Task</th>
              <th>Description</th>
              <th>Priority</th>
              <th>Status</th>
              <th>created At</th>
          </tr>
        </thead>
      
        <tbody >
            <% if(tasks.length>0 ){ %>
                
                
                   <% tasks.forEach(task => { %>
                    <tr>
                        <td> <%=task._id%> </td>
                        <td> <%=task.taskname%> </td>
                        <td><%=task.description%></td>
                        <td><%=task.priority%></td>
                        <td><%=task.status%></td>

                        <td><%=task.createdAt%></td>
                    </tr>

                     <%  } )%>
                
                   
            
           
        
        <% }else{ %>
            <tr>
                        <td> - </td>
                        <td> - </td>
                        <td> - </td>
                        <td> - </td>
                        <td> - </td>
                        <td> - </td></tr>
            </tbody>
        <div><center><h1>Well looks clean , Got any tasks? </h1></center></div>
        <% } %>
   
    </table>
      <br>
    <footer>
        copyrights &copy MRSTONE c|o Lighto
         </footer>
        </div>
</body>
</html>